html,
body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
}

.canvas {
    margin-top: 2%;
    margin-left: 2%;
    /* border: 1px solid black; */
}

.divSettings {
    width: 3vw;
    height: 3vw;
    border: 1px solid rgb(158, 4, 4);
    position: fixed;
    bottom: 0px;
    right: 0px;
}