
li {
	font-family: "Open Sans";
	font-size: 30px;
	text-align: center;;
	margin-bottom:20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
	color: #99e1d9;
}

#container_list_of_algs p{
	font-family: "Open Sans";
	font-size: 15px;
	text-align: center;
	margin-bottom:20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
	color: #99e1d9;
}
#container_list_of_algs input{
	margin: 0 auto;
	display: block;;
	font-family: "Open Sans";
	font-size: 20px;
	text-align: center;
	margin-bottom:20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
	color: #000;
}


#container_list_of_algs {
	margin: 0 auto;
	margin-top: auto;
	width: 80%;
	height: 80%;
}
#button_settings img {
	width: 50%;
	margin:25% auto;
}

#list_of_algs li{
	height: 60%;
	width: 60%;
	margin:20px auto;
}
.clicked {
	font-weight: 600;
	background-color: #A3E7FC;
	color: #011627;
}
#list_of_algs li:hover{

	font-weight: 600;
	background-color: #A3E7FC;
	color: #011627;
	cursor: pointer;
	cursor : hand;
}

#list_of_algs ul{
		padding: 0;
		font-family: "Open Sans";
		font-style: normal;
		font-variant: normal;
		font-weight: 400;
		line-height: 23px;
		list-style: none;
}

.opened{
	opacity: 1;
}


//rwd for lower then 900px.

@media screen and (max-width: 900px) {

	#list_of_algs{

		width:20vw;
	  height: 20vw;
	}



}


#list_of_algs{
	background-color: #345;
	display: none;
	width:30vw;
  height: 30vw;
  position: fixed;
  bottom: 100px;
  right: 120px;
	transition(all 0.25s ease-in-out)

}
#button_settings:hover{

		background-color: #5BB3D3;
}

#button_settings{
	//background-color: #8fb339;
	background-color: #345;
  text-align: center;
  width:100px;
  height: 100px;
  position: fixed;;
  bottom: 0;
  right: 0;
}

#img_setting
{
  width: 50%;
  margin-top: 25px;
}
